* {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width:600px){
body{
    background-color:#ffcb9a;
}
h1{
  margin-bottom:5%;
    font-family: 'Montserrat', sans-serif;
    
}
.icon{
  display:none;
}
.reflection{
  letter-spacing: 15px;
}

.star{
  padding-top:10%;
  font-family: 'Cairo', sans-serif;
  color:#1F2833;
  background-color: #d1e8e2;
  padding-bottom:10%;
 
  
}
#about{
  font-family: 'Montserrat', sans-serif;
  
  opacity:90%;
}

.table{
    max-width: 1200px;
    margin-left:20%;
    display:flex;
}



.page-image{
  
  padding: 15px;
  width:55%;
  height:80%;

}

.secondary-page{
  flex-direction:column;
  align-items: stretch;
  width:50%;
  display:flex;
  background-color:#1F2833;
  color:white;
}

.section-1{
  background-color:#1F2833;
  padding-top:5%;
  padding-left:10%;
}

.section-2{
  padding-left:10%;
  padding-right:5%;
  padding-bottom:10%;
}

.section-a{
  padding-top:5%;
  padding-bottom:
}

.table{
  max-width: 80%;
}


#rating-star{
  padding:10px;
  display:block;
  float:left;
  overflow:auto;
  height:auto;
  margin-left:10%;
}
ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    width: 20%;
    background-color:#1F2833;
    top:0;
    left:0;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    letter-spacing: 5px;
    
  }
  
  li a {
    display: block;
    color: white;
    padding: 20px 16px;
    text-decoration: none;
    font-size:x-large;
    transition: transform .2s;
  }
    
  li a:hover:not(.active) {
    background-color: #d1e8e2;
    color: #1F2833;
    transform: scale(1.2);
  }
#page-text{
  color:white;
    font-family: 'Cairo', sans-serif;
}




/*div*/

/*image*/
#about_photo{
  
  width:100%;
  transition: transform .2s;
  
}
#about_photo:hover{
  transform: scale(1.1);
}
h2{
  opacity: 70%;
  font-family: 'Montserrat', sans-serif;
}
.checked {
  color: orange;
}

.active{
  display:none;
}

.topnav{
  display: absolute; 
}
/*blog page*/

/* nav */
.reflection-nav-link{
  color:#ffcb9a;
  font-size: 20px;
}
.reflection-nav{
  list-style-type: none;
    margin:0;
    padding: 0;
    width: 20%;
    background-color:#1F2833;
    top:23%;
    left:0;
    position: fixed;
    
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
}



.reflection{
  background-color:#1F2833;
  width:60%;
  left:40%;
  position:relative;
  padding:10px;
  color:white;
}
.break{
  background-color:#d1e8e2;
  height:20px;
  position:fixed;
  top:20%;
  left:0;
  margin:0;
  padding: 0;
  width: 20%;
  overflow: auto;
}
.break-two{
  background-color:#d1e8e2;
  height:20px;
  position:fixed;
  top:50%;
  left:0;
  margin:0;
  padding: 0;
  width: 20%;
  overflow: auto;
}
a{
  color:black;
}

/* blog template*/

all-blogs-wrapper {
    padding-top: 40px;
    width: 57vw;
    margin: auto;
  }
  
  .blog-card-wrapper {
    margin-bottom: 40px;
    
    border: transparent;
    border-radius: 10px;
    background-color: #d1e8e2;
    -webkit-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    margin-left:23%;
    margin-right:10px;
    
  }
  
  .image-wrapper {
  
    width:100%;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    

  }
  
  .display-wrapper{
    display:flex;
    
    
  }
  .blog-image {
    width:150%;
     

  }
  
  .blog-content {
    margin: 20px;
    width:100%;
  }
  
  .information-heading {
    width: 100%;
    height: 40px;
  }
  
  .date {
    text-align: center;
   
    font-family: 'Montserrat', sans-serif;
    opacity: 30%;
  }

 
  .blog-details {
    padding-bottom: 30px;
    font-family: 'Cairo', sans-serif;
  }

  
}





















@media only screen and (max-width:600px){
  
    body{
      background-color:#ffcb9a;
  }
  h1{
      
      font-family: 'Montserrat', sans-serif;
      
  }
  
  h3{
    padding:10px;
  }
  h2{
    font-family: 'Montserrat', sans-serif;
  }
  
  
  #page-text{ 
      padding:10px 10px;
      color:white;
      font-family: 'Cairo', sans-serif;
      width:100%;
      
  }
 
 

#about_photo{
  width:100%;
  margin-left:10%;
}

.secondary-page{
  width:100%;
  padding:13%;
  padding-top:5%;
  background-color:#1F2833;
  color:white;
}

.section-1{
  background-color:#1F2833;
 
}



.section-a{
  padding-top:5%;
  padding-bottom:
}

.table{
  max-width: 80%;
}
 
  .page-wrapper{
    display:grid;
    grid-template-columns:  100%;
  
  
  }
  /*blog page*/
  
  a{
    color:black;
  }
  
  /* blog template*/
  
  all-blogs-wrapper {
      
      width: 57vw;
      margin: auto;
    }
    #july{
      margin-top: 10%;
    }
    .blog-card-wrapper {
      margin-bottom: 40px;
      border: transparent;
      border-radius: 10px;
      background-color: #d1e8e2;
      -webkit-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
      -moz-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
      box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
      margin-left:10px;
      margin-right:10px;
      
    }
    
    .image-wrapper {
    display:none;
  
    }
   
    .display-wrapper{
      display:flex;
      
      
    }
    .blog-image {
     display:none;
       
  
    }
    
    .blog-content {
      margin: 20px;
      width:100%;
    }
    
    .information-heading {
      width: 100%;
      height: 40px;
    }
    
    .date {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
    }
  
    .blog-heading{
      padding:10px 0px 0px 0px;
    }
    .blog-details {
      padding-bottom: 30px;
      font-family: 'Cairo', sans-serif;
      margin-right:10%;
    }
    
  /*nav*/
  .topnav {
    overflow: hidden;
    background-color:#1F2833;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    margin-bottom:10%;
    
  }
  
  .topnav #myLinks {
    display: none;
    
  }
  .topnav{
    margin-bottom: 20%;
  }
  
  .topnav a {
    color: #d1e8e2;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Montserrat', sans-serif;
    
  }
  /* hamburger menu styling*/
  .topnav a.icon {
    background:#1F2833;
    display: block;
    position: absolute;
    right: 0;
    top:0;
    
  }

  
  .topnav a:hover {
    background-color: #ffcb9a;
    color: black;

  }
  
  .active {
    background-color: #1F2833;
    color: #d1e8e2;
    font-family: 'Montserrat', sans-serif;
  }
  .checked {
    color: orange;
  }
  .star{
    padding:5%;
    font-family: 'Cairo', sans-serif;
    color:#1F2833;
    background-color: #ffcb9a;
    border: transparent;
      
      -webkit-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
      -moz-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
      box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    
  }
  #about{
    font-family: 'Montserrat', sans-serif;
    
    opacity:90%;
  }
  }